{% extends 'case/base.html' %}

{% block content %}
  <div class="container">
    <div>
        <!--<h1><a href="{% url 'case:pj_list' %}">案件一覧</a></h1>-->
        <h1></h1>
    </div>
      <div class="row">
        <div class="col-sm-10">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">紹介日</th>
                  <th scope="col">案件名</th>
                  <th scope="col">期間</th>
                  <th scope="col">単金</th>
                  <th scope="col">紹介元</th>
                  <th></th>
                </tr>
              </thead>

            {% for project in projects %}
              <tbody>
                <tr>
                  <!--<th scope="row"><a href="{% url 'case:pj_detail' pk=project.id %}">{{ project.id }}</a></th>-->
                  <th scope="row">{{ project.id }}</th>
                  <td>{{ project.created_date|date:"Y/m/d" }}</td>
                  <td>{{ project.title }}</td>

                  {% if project.end_at == None %}
                  <td>{{ project.start_at|date:"Y/m/d" }}～</td>
                  {% else %}
                  <td>{{ project.start_at|date:"Y/m/d" }}～{{ project.end_at|date:"Y/m/d" }}</td>
                  {% endif %}

                  {% if project.lower_cost == None %}
                  <td>～{{ project.upper_cost }}</td>
                  {% elif project.upper_cost == None %}
                  <td>{{ project.lower_cost }}～</td>
                  {% else %}
                  <td>{{ project.lower_cost }} ～ {{ project.upper_cost }}</td>
                  {% endif %}

                  <td>{{ project.company }}</td>

                  <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                      詳細
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">案件詳細</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <table class="table">
                              <tbody>
                                <tr>
                                  <th>紹介日</th>
                                  <td>{{ project.created_date|date:"Y/m/d" }}</td>
                                </tr>
                                <tr>
                                  <th>案件名</th>
                                  <td>{{ project.title }}</td>
                                </tr>
                                <tr>
                                  <th>概要</th>
                                  <td>{{ project.text }}</td>
                                </tr>
                                <tr>
                                  <th>カテゴリー</th>
                                  <td>{{ project.category }}</td>
                                </tr>
                                <tr>
                                  <th>案件番号</th>
                                  <td>{{ project.number }}</td>
                                </tr>
                                <tr>
                                  <th>期間</th>
                                    {% if project.end_at == None %}
                                    <td>{{ project.start_at|date:"Y/m/d" }}～</td>
                                    {% else %}
                                    <td>{{ project.start_at|date:"Y/m/d" }}～{{ project.end_at|date:"Y/m/d" }}</td>
                                    {% endif %}
                                </tr>
                                <tr>
                                  <th>人数</th>
                                  <td>{{ project.member }}</td>
                                </tr>
                                <tr>
                                  <th>必須スキル</th>
                                  <td>{{ project.first_skill }}</td>
                                </tr>
                                <tr>
                                  <th>尚可スキル</th>
                                  <td>{{ project.second_skill }}</td>
                                </tr>
                                <tr>
                                  <th>求める人物像</th>
                                  <td>{{ project.personal_skill }}</td>
                                </tr>
                                <tr>
                                  <th>単金</th>
                                  <td>{{ project.lower_cost }} ～ {{ project.upper_cost }}</td>
                                </tr>
                                <tr>
                                  <th>国籍</th>
                                  <td>{{ project.nationality }}</td>
                                </tr>
                                <tr>
                                  <th>紹介元</th>
                                  <td>{{ project.company }}</td>
                                </tr>
                                <tr>
                                  <th>ステータス</th>
                                  <td>{{ project.status }}</td>
                                </tr>
                                <tr>
                                  <th>ロースキル</th>
                                  <td>{{ project.low_skill }}</td>
                                </tr>
                                <tr>
                                  <th>備考</th>
                                  <td>{{ project.comment }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            {% endfor %}
            </table>
        </div>
        <div class="col-sm-2">
            <div>
                <form action="#" method="get">
                  <div class="form-group">
                    <label for="formGroupExampleInput">キーワード検索</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" name="keyword" placeholder="Example input">
                  </div>
                <button type="submit" class="btn btn-outline-primary">Search</button>
                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                </form>

            </div>
            <hr>
            <div>
                <p>項目検索</p>
                <form action="#" method="get">
                    <div class="form-group">
                        <label for="formGroupExampleInput">単金：</label>
                        <input type="number" class="form-control" id="formGroupExampleInput" name="cost">
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlSelect2">作業範囲：</label>
                        <select multiple class="form-control" id="exampleFormControlSelect2" name="category">
                            <option value=1>開発</option>
                            <option value=2>要件定義、設計</option>
                            <option value=3>調査、研究</option>
                            <option value=4>テスト、検証</option>
                            <option value=5>運用保守</option>
                        </select>
                    </div>
                <button type="submit" class="btn btn-outline-primary">Search</button>
                <button type="reset" class="btn btn-outline-secondary">Reset</button>
                </form>
        　   </div>
        </div>
      </div>
  </div>
{% endblock %}