{% extends 'case/base.html' %}

{% block content %}
    <div>
      <h1>案件一覧</h1>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">紹介日</th>
          <th scope="col">案件名</th>
          <th scope="col">期間</th>
          <th scope="col">単金</th>
          <th scope="col">紹介元</th>
          <th></th>
        </tr>
      </thead>

    {% for project in projects %}
      <tbody>
        <tr>
          <th scope="row"><a href="{% url 'case:pj_detail' pk=project.id %}">{{ project.id }}</a></th>
          <!--<th scope="row">{{ project.id }}</th>-->
          <td>{{ project.created_date|date:"Y/m/d" }}</td>
          <td>{{ project.title }}</td>

          {% if project.end_at == None %}
          <td>{{ project.start_at|date:"Y/m/d" }}～</td>
          {% else %}
          <td>{{ project.start_at|date:"Y/m/d" }}～{{ project.end_at|date:"Y/m/d" }}</td>
          {% endif %}

          {% if project.lower_cost == None %}
          <td>～{{ project.upper_cost }}</td>
          {% elif project.upper_cost == None %}
          <td>{{ project.lower_cost }}～</td>
          {% else %}
          <td>{{ project.lower_cost }} ～ {{ project.upper_cost }}</td>
          {% endif %}

          <td>{{ project.company }}</td>

        </tr>
      </tbody>
    {% endfor %}
    </table>
{% endblock %}